In [22]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\python311\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\python311\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import mysql.connector
from random import choice, randint

In [24]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '22976738',
    'database': 'embraer2'
}

In [25]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

create_table_query = """
    CREATE TABLE IF NOT EXISTS dados_aleatorios (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nome VARCHAR(50),
        idade INT,
        cidade VARCHAR(50)
        );
"""


cursor.execute(create_table_query)
conn.commit()

In [26]:
nomes = ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hank']
cidades = ['Nova York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Filad√©lfia']

for _ in range(2000):
    nome = choice(nomes)
    idade = randint(18, 99)
    cidade = choice(cidades)
    
    insert_query = "INSERT INTO dados_aleatorios (nome,idade,cidade) VALUES (%s,%s,%s)"
    data = (nome, idade, cidade)
    cursor.execute(insert_query,data)
        
conn.commit()

cursor.close()
conn.close()